#shopcartarea table{
    width: 100%;
    border-collapse: collapse;
}
#shopcartarea table,td{
    border: 1px solid #ccc;
}

#shopcartarea table thead tr,
#shopcartarea table tfoot tr{
    line-height: 60px;
    background-color: #f2f2f2;
}

#shopcartarea table tbody img{
    vertical-align: middle;
}
#shopcartarea table tbody .reducebtn,
#shopcartarea table tbody .addbtn
{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc; 
    text-align: center;   
    cursor: pointer;
    user-select: none;
}

